:host {
  display: block;
  min-width: 0;
}
.step-row {
  display: grid;
  grid-template-columns: 34px minmax(0, 1fr);
  column-gap: 12px;
  margin-bottom: 12px;
}
.step-row > .step-number {
  margin-top: 10px;
}
.step-controls {
  display: flex;
  grid-column: 2;
  margin: -12px 0 12px;
  justify-content: flex-end;
}
@media (min-width: 850px) {
  .step-row {
    grid-template-columns: 34px minmax(0, 1fr) 44px;
  }
  .step-controls {
    flex-direction: column;
    grid-column: auto;
    margin: 0;
    justify-content: flex-start;
  }
}
mat-form-field {
  display: block;
  width: 100%;
  min-width: 0;
}
